@import './variables.css';

html,body {
  margin: 0;
  padding: 0;
  font-family: var(--font-body);
  color: var(--color-text-tertiary);
  background-color: #000;
  overscroll-behavior: none;
}

main {
  width: 100%;
  min-height: 100vh;
  padding: 48px 48px;
  box-sizing: border-box;
}

h2 {
    margin: 0;
    color: var(--color-text-secondary);
    font-size: var(--font-h2);
    font-family: var(--font-heading);
    font-weight: var(--fw-bold);
}

h2 strong,
h2 b {
    color: var(--color-text-primary);
    font-size: var(--font-h2-bold);
    font-weight: var(--fw-extrabold);
}

h3 {
    color: var(--color-text-secondary);
    font-size: var(--font-h3);
    font-weight: var(--fw-thin);    
}

h5 {
    margin: 0;
    color: var(--color-text-tertiary);
    font-size: var(--font-h5);
    font-family: var(--font-body);
    font-weight: var(--fw-regular);
}

h5 b{
    color: var(--color-text-primary);
    font-weight: var(--fw-bold);
}

ul {
    margin: 0;
}

p {
    color: var(--color-text-tertiary);
    font-weight: var(--fw-regular);
}

p b{
    color: var(--color-text-primary);
    font-family: var(--font-heading);
    font-weight: var(--fw-bold);
    font-size: var(--font-h5);
}
