.main-activities{
    width: 100%;
    background-color: #000;
}

.wrap-title{
    padding: 100px 0;
}

.page-title{
    display: flex;
    align-items: center;
    gap: 30px;
    text-align: left;
    font-style: italic;
    transform: skewX(-10deg);
}

.page-title::after {
  content: "";
  flex: 1;
  height: 0.1px;
  opacity: 70%;
  background: var(--color-text-tertiary);
}

.section-activities{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 38px;   
}

.section-activities .inner-section{
    display: grid;
    padding: 52px 0;
    gap: 38px;   
    grid-column: span 12;
    grid-template-columns: repeat(12, 1fr);
    width: 100%;
}

.section-activities .inner-section .inner-section-left{
    display: flex;
    flex-direction: column;
    grid-column: span 3;
    height: 100%;
}

.section-activities .inner-section .inner-section-left .card-caption{
    margin: 0;
    margin-left: 24px;
    margin-top: 28px;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.section-activities .inner-section .inner-section-left .card{
    position: sticky;
    top: 28px;
}
.section-activities .inner-section .inner-section-left .card-caption p{
    margin: 0;
    padding-left: 24px;
    text-align: left;
}

.section-activities .inner-section .article{
    grid-column: 4 / span 9;
    text-align: left;
}

.section-activities .inner-section .article ul {
    padding-left: 20px;
}

.section-activities .inner-section .article h4 {
    margin-top: 0px; 
    color: var(--color-text-primary);
    font-family: var(--font-body);
    font-size: var(--font-h3);
    font-weight: var(--fw-bold);
}

.section-activities .inner-section .article ul li{
    padding: 20px 0;
    font-size: 18px;
}

.section-activities .inner-section .article ul li ul{
    list-style: none;
    padding: 0;
}

.section-activities .inner-section .article ul li b{
    color: var(--color-text-primary);
}

.section-activities .inner-section .article ul li ul li{
    position: relative;
    padding: 5px 0;
    padding-left: 1em;
}

.section-activities .inner-section .article ul li ul li::before{
    content: "-";
    position: absolute;
    left: 0;
}

.section-activities .card {
    display: flex;
    grid-column: span 3;
    height: 160px;
    gap: 10px;
    padding: 25px 20px;
    box-sizing: border-box;
    border: 1px solid rgba(110, 110, 110, .1);
    border-radius: 10px;
    background: radial-gradient(
        circle at 0% 0%,
        rgba(110, 110, 110, 0.3),
        rgba(110, 110, 110, 0.1) 15%,
        rgba(110, 110, 110, 0) 40%
    ) #000;
    box-shadow:     
        0 4px 12px rgba(110, 110, 110, 0.1),
        0 16px 40px rgba(110, 110, 110, 0.07);;
}

.section-activities .card.is-active {
    border: 1px solid rgba(var(--color-accent-primary-rgb), .1);
    background: radial-gradient(
        circle at 0% 0%,
        rgba(var(--color-accent-primary-rgb), 0.4),
        rgba(var(--color-accent-primary-rgb), 0.2) 15%,
        rgba(var(--color-accent-primary-rgb), 0) 40%
    ) #000;
    box-shadow:     
        0 4px 12px rgba(var(--color-accent-primary-rgb), 0.08),
        0 16px 40px rgba(var(--color-accent-primary-rgb), 0.05);;
}

.section-activities .card .card-inner-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}

.section-activities .card .card-inner-text p{
    margin: 0;
}

.section-activities .card .card-inner-img-rect {
    height: 100%;
    aspect-ratio: 1;
}

.section-activities .card .card-inner-img-rect img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    background-color: #FFF;

}

.section-activities .contents {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-column: 4 / span 9;
    gap: 38px; 
}
