.section-projects{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.section-projects .wrap-swiper{
    display: relative;
    gap: 38px;
    width: 100vw;
    margin-left: calc(50% - 50vw);
}

.section-projects .wrap-contents {
    display: flex;
}

.section-projects .card {
    min-height: 350px;
    width: 100%;
    border: 1px solid rgba(110, 110, 110, .1);
    box-sizing: border-box;
    border-radius: 30px;
    background: radial-gradient(
        circle at 0% 0%,
        rgba(110, 110, 110, 0.4),
        rgba(110, 110, 110, 0.2) 15%,
        rgba(110, 110, 110, 0) 40%
    ) #000;
    box-shadow:     
        0 4px 12px rgba(110, 110, 110, 0.08),
        0 16px 40px rgba(110, 110, 110, 0.05);;
}

.section-projects .card.is-active {
    min-height: 350px;
    width: 100%;
    border: 1px solid rgba(var(--color-accent-primary-rgb), .1);
    box-sizing: border-box;
    border-radius: 30px;
    background: radial-gradient(
        circle at 0% 0%,
        rgba(var(--color-accent-primary-rgb), 0.4),
        rgba(var(--color-accent-primary-rgb), 0.2) 15%,
        rgba(var(--color-accent-primary-rgb), 0) 40%
    ) #000;
    box-shadow:     
        0 4px 12px rgba(var(--color-accent-primary-rgb), 0.08),
        0 16px 40px rgba(var(--color-accent-primary-rgb), 0.05);;
}

.section-projects .card .card-top {
    display: flex;
    justify-content: space-between;
    gap: 38px;
    margin-bottom: 48px;
    font-family: var(--font-body);
}

.section-projects .card .card-bottom ul {
    list-style: none;
    padding: 0;
}

.section-projects .card .card-bottom ul li {
    position: relative;
    padding-left: 1em;
}

.section-projects .card .card-bottom ul li::before{
    content: "-";
    position: absolute;
    left: 0;
}

.section-projects .card .card-top-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-projects .card .card-top-left p{
    margin: 0;
}

.section-projects .card .card-top-left .title b{
    font-size: 18px;
    font-weight: var(--fw-regular);
}

.section-projects .card .card-top-left .sub-title p b{
    font-size: 16px;
}

.section-projects .card .card-top-right{
    width: 240px;
    height: 180px;
    aspect-ratio: 1.414;
}

.section-projects .card .card-top-right img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    background-color: #FFF;
}

.section-projects .contents{
    flex: 0 0 calc(100% * 10 / 12);
    max-width: 70%;
    padding-left: 76px;
    text-align: left;
}

.section-projects .contents .card-title{
    font-size: 24px;
}
.section-projects .contents .card-title b{
    font-size: 28px;
}

.slider-nav {
    display: flex;
    justify-content: flex-end;
    padding: 60px 0;
}

.slider-nav div {
    padding: 15px 30px;
}

.slider-nav-prev {
    border-right: 1px solid #ffffff82;
}
